<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>

  {% load static %}
  <link rel='stylesheet' href="{% static "css/selectize.css" %}">
</head>
<style>
  .login-border {
    border: 1px solid antiquewhite;
        padding: 20px;
  }
  .btn-radius {
    border-radius: 20px;
  }
  .btn:focus {
       outline: none;
  }
  .selectize-input{
    width: 58% !important;
  }
  .selectize-dropdown-content {
    width: 108% !important;
  }
  .rm-pad {
    padding: 0px;
    margin-left: -12px;
  }
</style>
<body>
<h1 class="text-center">Home</h1>
<div class="col-lg-5 col-lg-offset-4 login-border">
   <div class="form-group">
     <label for="">Search options:</label>
  </div> 
  <div class="form-group">
    <label for="" class="radio-inline">
        <input type="radio" id="typecity" name="type"  value="city"> City
    </label>
  </div>
  <div class="form-group">
    <label for="" class="radio-inline">
    <input type="radio" id="typecountry" name="type"  value="country"> Country
    </label>
  </div>

  <div class="form-group">
    <label for="" class="radio-inline">
      <input type="radio" id="typecountrylanguage" name="type"  value="countrylanguage"> Country language
    </label>
  </div>        
  <div class="form-group" style="margin-bottom: 67px !important;">
  <div class="col-lg-12 rm-pad">
      <input type="search" id="search" placeholder="Search" name="search" class="col-lg-12">
  </div>
  </div>
  <div class="form-group">
     <button type="button" class="btn btn-success btn-radius" onClick="search_query()">Search</button>
      <a href="#" class="btn btn-link pull-right" id="logout" onClick="logout()">Logout </a>
  </div>    
</div>  
<script src="{% static 'js/selectize.js' %}"></script>

<script type="text/javascript">

  $(document).ready(function () {
   if ((localStorage.getItem("token") == "") || (localStorage.getItem("token") == undefined))  {
      window.location = "http://127.0.0.1:8000";

   }
});

  function logout(){
    
     $.ajax({
          type: "POST",
          url: "/api/logout/",
          data: {},
          headers: { Authorization: localStorage.getItem("token") },

          success: function(res){
            console.log(res)
              if (res.status=="OK"){
                  console.log(res)
                localStorage.setItem("token", "");

                  window.location = "http://127.0.0.1:8000";
 
              }
              else{
                alert("Failed")
              }
          },
          error:function(res){
              alert("Enter valid inputs");
          }
        });
  };

  function search_query(){
    console.log("fffffffffffffff")
  type_ = $('input[name=type]:checked').val();
  search = $('#search').val();    
     $.ajax({
          type: "POST",
          url: "/api/details/",
          data: {
            type_:type_,
            search:search
          },
          headers: { Authorization: localStorage.getItem("token") },

          success: function(res){
            console.log(res)
              if (res.status=="OK"){
                  console.log(res.country)
                  console.log(res)
                  window.location = "http://127.0.0.1:8000/details?type="+type_+"&val="+search;

                
              }
              else{
                alert("Failed")
              }
          },
          error:function(res){
            console.log(res)
              alert("Invalid input");
          }
        });
  };


$('#search').selectize({
  maxItems: 1,
  load: function (query, callback) {
    type_ = $('input[name=type]:checked').val();
    if (!query.length) return callback();
      $.ajax({
        url: '/api/search/',
        data:{search:query,type_:type_},
        type: 'POST',
        headers: { Authorization: localStorage.getItem("token") },
        error: function () {
          callback();
        },
        success: function (res) {
          console.log(res.search_list)
          callback(res.search_list.slice(0, 10));
        }
      });
  }

});

</script>


</body>
</html>