<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
</head>
<style>
	.login-border {
		border: 1px solid antiquewhite;
        padding: 20px;
	}
	.btn-radius {
		border-radius: 20px;
	}
	.btn:focus {
       outline: none;
   }
</style>
<body>
<h1 class="text-center">Login</h1>

<div class="col-lg-5 col-lg-offset-4 login-border">
  <div class="form-group text-center">
  <label for="">Send OTP</label>
  </div> 
 
  <div class="form-group">
  	<label for="" class="radio-inline">
  		<input type="radio" id="typeemail" name="type"  value="email"> Email
  	</label>
    <input type="email"  class="form-control" placeholder="Enter email here" id="email" name="email">
  </div>	

  <div class="form-group">
    <label for="" class="radio-inline"> 
        <input type="radio" id="typephone" name="type" value="phonenumber"> Phone number
    </label>  
    <input type="text"  class="form-control" placeholder="Enter phone number here" id="phone_number" name="phone_number">	
  </div>

 <div class="form-group">
    <div class="col-sm-12" style="padding-bottom: 32px;">
        	<input type="text" id="otp" class="form-control col-lg-3" placeholder="Enter the OTP here" name="password">	
    </div>
 </div>

<div class="form-group">
  <input type="button" class="btn btn-success btn-radius" id="submit" value="Receive OTP" onclick="login()">
  <a href="signup/" class="btn btn-link pull-right">Signup</a><br>
</div>
</div>

 <!-- script starts -->
<script type="text/javascript">
  $(document).ready(function () {
    $("#otp").hide();
    $("#email").hide();
    $("#phone_number").hide();
    $("#typeemail").click(function () {
    	$("#phone_number").hide();
        $("#email").show();
    });
    $("#typephone").click(function () {
    	$("#email").hide();
        $("#phone_number").show();
    });
});
  function login(){
  	type_ = $('input[name=type]:checked').val();
   	email = $('#email').val();
  	phone_number = $('#phone_number').val();

  	console.log(type_)
  	 $.ajax({
          type: "POST",
          url: "/api/login/",
          data: {
          		type_:type_,
          		email:email,
          		phone_number:phone_number,
          			},
          success: function(res){
          	console.log(res)
              if (res.status=="success"){
                  alert(res.messages) 
                  $("#otp").show()
                  $("input[type=radio]").attr('disabled', true);
                  $("#email").attr('disabled', true);
                  $("#phone_number").attr('disabled', true);
                  $("#submit").prop('value', 'Submit');
                  $("#submit").attr('onclick', 'verify()');
              }
              else{
                  alert(res.messages);
              }
          },
          error:function(res){
              alert("error");
          }
        });

  }
   function verify(){
  	type_ = $('input[name=type]:checked').val();
   	email = $('#email').val();
  	phone_number = $('#phone_number').val();
  	otp = $('#otp').val();
  	console.log(type_)
  	 $.ajax({
          type: "POST",
          url: "/api/verify/",
          data: {
          		type_:type_,
          		email:email,
          		phone_number:phone_number,
          		otp:otp
          			},
          success: function(res){
          	console.log(res)
              if (res.status=="OK"){
              	localStorage.setItem("token", res.token);
              	console.log(localStorage.getItem("token"))
                  window.location = "http://127.0.0.1:8000/home/";
 
              }
              else{
              	 alert(res.message)
              }
          },
          error:function(res){
              alert("error");
          }
        });

  }
  </script>
</body>
</html>