<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
</head>
<style>
    .login-border {
		border: 1px solid antiquewhite;
        padding: 20px;
	}
	.btn-radius {
		border-radius: 20px;
	}
	.btn:focus {
       outline: none;
    }
</style>
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<body>
<h2 class="text-center">Signup</h2><br>
<!-- signup form -->
<div class="col-lg-5 col-lg-offset-4 login-border">
  <form>
  	 <div class="form-group">
    <label for="">First Name</label>
     <input placeholder="First name" class="form-control" type="text" id="first_name" name="first_name">
  </div>
  
  <div class="form-group">
  	<label for="">Last Name</label>
       <input placeholder="Last name" class="form-control" type="text" id="last_name" name="last_name">
  </div>
 
  <div class="form-group">
  	<label for="" >Email</label>
       <input placeholder="Email"  class="form-control" type="email" id="email" name="email">
  </div> 

  <div class="form-group">
  	<label for=""  >Phone Number</label>
     <input placeholder="Phone number"  class="form-control" type="text" id="phone_number" name="phone_number">
  </div>

  <div class="form-group">
  	<label for="">Gender:&nbsp;&nbsp;</label>
  	 <div class="radio-inline">
  	<label for="">
  		<input type="radio" name="Gender" value="M" checked>Male 
  	</label>
  </div>
  
  <div class="radio-inline">
  	<label for="">
  		<input type="radio" name="Gender" value="F">Female
  	</label>
  </div>
  
  <div class="radio-inline">
  	<label for="">
  		<input type="radio" name="Gender" value="O">Other
  	</label>
  </div>
  </div>

  <div class="form-group">
  	 <button type="button" class="btn btn-success btn-radius" onclick="signup()">Signup</button>
     <a href="/" class="btn btn-link pull-right">Login</a><br>
  </div>
 
  </form>
 
</div>
<!-- end form -->
<script type="text/javascript">
  function signup(){
  	gender = $('input[name=Gender]:checked').val();
  	first_name = $('#first_name').val();
  	last_name = $('#last_name').val();
  	email = $('#email').val();
  	phone_number = $('#phone_number').val();

  	console.log(gender)
  	 $.ajax({
          type: "POST",
          url: "/api/signup/",
          data: {first_name:first_name,
          		last_name:last_name,
          		email:email,
          		phone_number:phone_number,
          		gender:gender
          			},
          success: function(res){
          	console.log(res)
              if (res.status=="success"){
                  alert(res.messages) 
              }
              else{
                  alert(res.messages);
              }
          },
          error:function(res){
              alert("error");
          }
        });

  }
</script>
{{ request.GET.error }}
</body>
</html>
